<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(rootPath + '/partials/head'); %>
    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <app-root></app-root>
        <%if (process.env.NODE_ENV == 'development') { %>
            <p>
                You're in development mode. Please visit
                <a href="http://localhost:<%= process.env.FRONTEND_PORT %>">localhost:<%= process.env.FRONTEND_PORT %></a>
                to see the frontend.
            </p>
        <% } else { %>
            <% for(let i = 0; i < assets.js.length; i++){ %>
                <script src="<%= process.env.APP_PUBLIC_URL %>/<%= assets.js[i] %>" defer></script>
            <% } %>
        <% } %>
    </body>
</html>
